@import "tailwindcss";

* {
  border-color: rgb(229 231 235);
}

body {
  background-color: white;
  color: rgb(17 24 39);
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* RTL Support */
[dir="rtl"] {
  direction: rtl;
}

[dir="ltr"] {
  direction: ltr;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
